@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('font/idroid.otf') format('truetype');
}

body{   
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}

p{
    text-indent: 30px;
}

header{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.934), rgb(46, 198, 109));
    color: aliceblue;
    padding: 30px
}

menu{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
    margin-bottom: -24px;
    margin-left: -60px;
}

a{
    padding-left: 20px; 
    text-decoration: none;
    color: white;
}

a.inline{
    color: black;
}

menu > a:hover{
    text-decoration: underline;    
}

h1.titulo1{
    height: 68px;
    width: 455px;
    margin: auto;
    text-align: center;
}

.titulo2{
    font-family: idroid;
    font-size: 2em;
    color: green;
}

p.titulo1{
    width: 450px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: center;
}

h2{
    background-color: rgba(172, 197, 172, 0.382);
    font-family: idroid;
    color: green;
}

.rodape{
    background-color: rgb(25, 146, 75);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: rgb(0, 66, 0);
}

.final{
    background-color: rgba(172, 197, 172, 0.382);
    margin-top: -20px;
    margin-right: auto;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-right: auto;
    padding-bottom: 15px;
    padding-left: auto;
    
}

.final >ul{
    margin-top: 10px;
}

footer > p{
    color: white;    
    padding: 2px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
    font-size: 1em;
}

